body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: normal;
}

p {
  text-indent: 0%;
  margin-left: 5%;
  margin-right: 10%;
}

h1{
  margin-left: 1%;
  margin-bottom: 2px;
  font-weight: bold;
}

h2 {
  margin-top: 2px;
  margin-left: 3%;
  margin-bottom: 4px;
  font-weight: normal;
}

.vis {
  margin: auto;
  width: 80%;
}

.apa-ref {
  padding-left: 36px;
  text-indent: -36px;
}

circle {
  stroke: #aaaaaa;
  stroke-width: 1.5px;
}

circle.zero {
  opacity: 1;
  fill: #00A6FB;
}

circle.one {
  fill: #0582CA;
}

circle.two {
  fill: #006494;
}

circle.three {
  fill: #003554;
}

circle.four {
  fill: #052130;
}

circle.five {
  fill: #051923;
}