body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: normal;
}

p {
  text-indent: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

h1{
  margin-left: 30px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 28px;
}

h2 {
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 4px;
  font-weight: normal;
}

h3 {
  margin-left: 0px;
  font-weight: lighter;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  font-weight: lighter;
}

.vis {
  margin-left: 75px;
  margin-top: -75px;
}

.apa-ref {
  padding-left: 36px;
  text-indent: -36px;
}

line.link {
  stroke: #1C142A;
}

circle {
  stroke: #dedede;
  stroke-width: 0.5px;
}

circle.zero {
  fill: #A0C1BD;
}

circle.one {
  fill: #79A9AF;
}

circle.two {
  fill: #4F82A0;
}

circle.three {
  fill: #234E94;
}

circle.four {
  fill: #222C6D;
}

circle.five {
  fill: #221D4A;
}

path.arrow {
  fill: none;
  stroke: #1C142A;
  stroke-width: 1px;
}

div {
  outline: 0px dashed gray;
  width: 1000px;
  margin-left: 80px;
}

div.con {
  margin-top: -10px;
}

div.leg {
  width: 100px;
  margin-top: -180px;
  margin-left: 850px;
}

div.cit {
  margin-top: 50px;
}

div.hyp {
  margin-top: 10px;
}